@font-face {
    font-family: Shamel;
    src:url("fonts/FF\ Shamel\ Family\ Sans\ One\ Book.ttf");
}
@font-face {
    font-family: Shamel_Bold;
    src:url("fonts/FF Shamel Family Sans One Bold.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Shamel';
}
body{
    overflow-x: hidden;
    /* background-color: #F5F5F5; */
    background-color: #FAFAFA;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
.show_more a{
    width: 180px;
    color: #333259;
    border: 1px solid #333259;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.show_more a:hover{
    background-color: #333259;
    color: #fff;
}

.contact_form .form-group{
    margin: 16px auto;
}
.contact_form .form-group select,
.contact_form .form-group input{
    height: 54px;
    padding-right: 20px;
}

.contact_form .form-group textarea{
    max-height: 230px;
    min-height: 230px
}
.contact_form .form-group > *{
    background-color: #F5F5F5;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.contact_form .form-group > *:focus{
    border-color: #a662494e;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #a6624930;
}
.contact_form .btn{
    width: 100%;
    height: 54px;
    text-align: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    background-color: #A66249;
    color: #fff;
}
/* -----------  start scrollbar ---------------- */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(182, 181, 181);
    /* border-radius: 10px; */
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #A66249;
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #A66249;
}
/* -----------  End scrollbar ---------------- */
.container{
    position: relative;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    font-size: 60px;
    width: 50px;
    height: 50px;
    line-height: 1.1;
    border-radius: 50%;
    background: #EBEBEE;
    color: #333259;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 50%;
}
.owl-carousel .owl-nav button.owl-prev{
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.owl-carousel .owl-nav button.owl-next{
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
    background: #333259;
    color: #EBEBEE;
}
/* -----------  Start navbar ------------------ */
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background: transparent;
    width: 100%;
}
.navbar.def_page{
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}
.navbar *{
    color: #fff;
}
.navbar.def_page *{
    color: #0D0D0D;
}

.navbar .container-fluid{
    position: relative;
}
.navbar .navbar-brand{
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 138px;
    height: 147px;
    border-radius: 0px 0px 69px 69px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.navbar.def_page .navbar-brand{
    background: none;
    top: 50%;
    height: unset;
}
.navbar.def_page .navbar-toggler{
    float: left;
}
.navbar .navbar-brand:hover{
    box-shadow: -2px 3px 20px 0px #888888;
}
.navbar.def_page .navbar-brand:hover{
    box-shadow: none;
}
.navbar .navbar-brand .img-cont{
    width: 100%;
    height: 100%;
    position: relative;
}
.navbar .collapse{
    min-height: 99px;
}
.navbar.navbar.def_page  .collapse{
    min-height: 99px;
}
.navbar .navbar-brand .img-cont img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.nav-link:focus, .nav-link:hover{
    color: #fff;
}
.navbar .nav-item{
    width: 120px;
    text-align: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    margin: 0 5px;
}
.navbar .nav-item.active{
    background-color: #A66249;
}
.navbar.def_page .nav-item.active *{
    color: #fff;
}
.navbar .nav-item:not(.active):hover{
    background-color: #a6624946;
    color: #fff;
}
.navbar.def_page .nav-item:not(.active):hover{
    background-color: #a66249af;
    color: #fff;
}
/* -----------  End navbar ------------------ */
/* -----------  Start header ------------------ */
header{
    background: #000;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
    color: #fff;
    position: relative;
    padding-top: 150px;
}
header h1{
    font-family: 'Shamel_Bold';
    line-height: 1.7;
    margin-top: 12vh;
    margin-bottom: 30px;
}
header .svg{
    z-index: 1;
    height: 100%;
    /* width: 100%; */
    opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
}
header .svg #sq1{
    animation: move_sq 5s infinite ease-in-out alternate;
    -webkit-animation: move_sq 5s infinite ease-in-out alternate;
    transform-origin: center;
    transform-box: fill-box;
}
header .svg #svg_points g{
    animation: move_points 5s infinite ease-in-out alternate;
    -webkit-animation: move_points 5s infinite ease-in-out alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
header .svg #svg_points #points-2{
    animation-delay: 3s;
}
header .svg #svg_points #points-3{
    animation-delay: 2s;
}

header .svg #g2 path,
header .svg #g1 path{
    animation: move 5s infinite ease-in-out alternate;
    -webkit-animation: move 3s infinite ease-in-out alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
header .svg #g2 path:nth-last-of-type(1),
header .svg #g1 path:nth-last-of-type(1){
    animation-delay: 1s;
}
header .svg #g2 path:nth-last-of-type(2),
header .svg #g1 path:nth-last-of-type(2){
    animation-delay: 2s;
}
@keyframes move{
    0%{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
    100%{
        transform: translate(50px, -50px);
        -webkit-transform: translate(50px, -50px);
        -moz-transform: translate(50px, -50px);
        -ms-transform: translate(50px, -50px);
        -o-transform: translate(50px, -50px);
    }
}
@keyframes move_points{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    100%{
        transform: translateY(-50px);
        -webkit-transform: translateY( -50px);
        -moz-transform: translateY( -50px);
        -ms-transform: translateY( -50px);
        -o-transform: translateY( -50px);
    }
}
@keyframes move_sq{
    0%{
        transform:  rotate(0);
        -webkit-transform:  rotate(0);
        -moz-transform:  rotate(0);
        -ms-transform:  rotate(0);
        -o-transform:  rotate(0);
}
    100%{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}
}

header .container{
    height: 100%;
    z-index: 4;
}
header .container > div{
    height: 100%;
}
header .container .house{
    background: url(../images/image\ 9.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
header .container .search_div{
    position: relative;
}
header .container .search_div .row{
    overflow: hidden;
    border-radius: 16px 16px 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0;
    -ms-border-radius: 16px 16px 0;
    -o-border-radius: 16px 16px 0;
}
header .container .search_div .col{
    background-color: #fff;
}
header .container .search_div label{
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 3.5;
    cursor: pointer;
    background-color: #B8816D;
}
header .container .search_div label.active{
    background-color: #ffffff;
    color: #333;
}
header .container .search{
    position: relative;
}
header .container .search_input{
    border-radius: 16px 0 16px 16px;
    /* border-top-right-radius: 0; */
    border: none;
    line-height: 3.5;
    position: relative;
    -webkit-border-radius: 16px 0 16px 16px;
    -moz-border-radius: 16px 0 16px 16px;
    -ms-border-radius: 16px 0 16px 16px;
    -o-border-radius: 16px 0 16px 16px;
}

header .container .search button{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 147px;
    line-height: 2;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
/* -----------  End header ------------------ */
.sec-title{
    font-family: 'Shamel_Bold';
    color: #333259;
}
/* -----------  Start services Section ------------------ */
.services {
    min-height: 100vh;
}
.services .sec-title{
    margin-top: 8vh;
}
.services .rounded_img_card{
    background-color: #fff;
    width: 95%;
    min-height: 397px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}
.services .rounded_img_card .card-title *{
    font-family: 'Shamel_Bold';
    margin: 20px auto;
    color: #0D0D0D;
}
.services .rounded_img_card .card-svg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1.5px solid #F3F3F3;
    margin: 20px auto;
    padding: 5px;
    position: relative;
}
.services .rounded_img_card #home_svg_lable{
    animation: angle 5s infinite ease-in-out alternate;
    -webkit-animation: angle 5s infinite ease-in-out alternate;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes angle{
    0%{
        transform: rotate(25deg) translateY(-10px);
        -webkit-transform: rotate(25deg) translateY(-10px);
        -moz-transform: rotate(25deg) translateY(-10px);
        -ms-transform: rotate(25deg) translateY(-10px);
        -o-transform: rotate(25deg) translateY(-10px);
    }
    100%{
        transform: rotate(-25deg) translateY(-10px);
        -webkit-transform: rotate(-25deg) translateY(-10px);
        -moz-transform: rotate(-25deg) translateY(-10px);
        -ms-transform: rotate(-25deg) translateY(-10px);
        -o-transform: rotate(-25deg) translateY(-10px);
    }
}
#checked_hand{
    animation: checked_hand 2s infinite ease-in-out alternate;
    -webkit-animation: checked_hand 2s infinite ease-in-out alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes checked_hand{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    100%{
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}
#building{
    animation: building 5s infinite ease-in-out alternate;
    -webkit-animation: building 5s infinite ease-in-out alternate;
    transform-origin: right;
    transform-box: fill-box;
}
@keyframes building{
    0%{
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
}
    100%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
}
}
.services .rounded_img_card .card-svg svg{
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.services .rounded_img_card .card-text{
    color: #9E9E9E;
}
/* -----------  End services Section ------------------ */
/* -----------  Start apartment Section ------------------ */
.apartment{
    min-height: 100vh;
}
.apartment .def-sec-title{
    margin-top: 4vh;
}
.apartment .img_up_card{
    background-color: #fff;
    width: 95%;
    min-height: 397px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    
}
.apartment .img_up_card:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.apartment .img_up_card .card_img{
    width: 100%;
    height: 65%;
    position: relative;
    overflow: hidden;
}
.apartment .img_up_card .card_img .card_cat{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #A66249;
    width: 108px;
    height: 40px;
    line-height: 2.2;
    color: #fff;
    padding: 3px 5px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 9;
}
.apartment .img_up_card .card_img img{
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    z-index: 2;
}
.apartment .img_up_card .card_body{
    margin: 15px auto;
}
.apartment .img_up_card .card_body .card_title h4{
    color: #333259;
    font-weight: bold;
    /* font-family: 'Shamel_Bold'; */
}
.apartment .img_up_card .card_body .card_price{
    font-size: 22px;
    font-weight: bold;
    margin: 5px auto;
}
.apartment .img_up_card .card_body .card_price .price{
    color: #9E9E9E;
}
.apartment .img_up_card .card_body .card_price .coin{
    color: #A66249;
}
.apartment .img_up_card .card_body .card_text{
    color: #9E9E9E;
}
/* -----------  End apartment Section ------------------ */
/* -----------  Start add_house Section ------------------ */
.add_house{
    min-height: 90vh;
    /* padding: 5vh 0; */
}
.add_house .add_house_row{
    overflow: hidden;
    color: #fff;
    min-height: 350px;
    margin-top: 10vh;
}
.add_house .add_house_row .back_color{
    background-color: #A66249;
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 16px 16px 16px 0;
    -webkit-border-radius: 16px 16px 16px 0;
    -moz-border-radius: 16px 16px 16px 0;
    -ms-border-radius: 16px 16px 16px 0;
    -o-border-radius: 16px 16px 16px 0;
    z-index: -1;
    overflow: hidden;
}
.add_house .add_house_row .add_house_text{
    padding: 30px 70px;
    z-index: 3;
    margin-top: 180px;
}
.add_house .add_house_row .add_house_text h1{
    font-family: 'Shamel_Bold';
}
.add_house .add_house_row .add_house_text h4{
    line-height: 1.6;
}

.add_house .add_house_row .add_house_text a{
    color: #A66249;
    line-height: 2;
}
.add_house .add_house_row .add_house_img{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 3;
    align-items: flex-end;
    display: flex;
}
.add_house .add_house_row .add_house_img .plus{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    background-color: #fff;
    color: #333259;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;   
}
.add_house .add_house_row .add_house_img .plus:hover{
    box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.325);
}
.add_house .add_house_row .add_house_img img{
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */
}
/* -----------  End add_house Section ------------------ */
/* -----------  Start footer Section ------------------ */
.nav_footer{
    padding: 30px 0 20px;
    background: #F6EFED;
}
.nav_footer .navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav_footer .navbar-nav li{
    /* margin: 5px 20px; */
    color: #A66249;
}
footer .rights{
    background: #EDE0DB;
    padding: 10px 0;
    color: #A66249;
}
/* -----------  End footer Section ------------------ */

/* ******************************************* search form page ****************************************** */
/* ---------- start filter_form----------- */
section.filter_form{
    margin-top: 100px;
    padding: 20px 0;
}
section.filter_form label:not(.form-check label){
    margin-top: 20px;
}
section.filter_form .form-control{
    height: 50px;
    padding: 15px;
    background-position: left 1rem center;
}
section.filter_form .form-control,
section.filter_form input{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: #6E6E6E;
}

section.filter_form .form-check-input:checked{
    background-color: #A66249;
    border-color: #A66249;
}
section.filter_form .form-control:focus,
section.filter_form .form-check-input:focus {
    border-color: #a662494e;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #a6624930;
}
section.filter_form .form-switch .form-check-input:not(:checked){
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e")
}
/* ---------- End filter_form----------- */
/* ---------- start results----------- */
section.results .card{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border: none;
}
section.results .card .card-body > *{
    margin: 8px;
}   
section.results .card .card-title{
    font-family: 'Shamel_Bold';
    color: #333259;
}
section.results .card .card-text{
    color: #9E9E9E;
}
section.results .card .card_price{
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #A66249;
}
section.results .card .card-icon .number{
    font-family: 'Shamel_Bold';
    font-size: 12px;
}
section.results .card .card_price .coin{
    opacity: .7;
}

.houses_details_section .contact_details  .contacts a,
section.results .card .card_comparison.added{
    background-color: #333259;
    color: #fff;
    padding: 7px 10px;
    border-radius: 12px;
    width: fit-content;
    font-size: 14px;
    margin-top: 30px;
}

/* ---------- End results------------- */



/* ******************************* start about_header ************************************* */
.about_header{
    width: 100vw;
    height: 100vh;
    background: url(../images/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.about_header .about_header_title{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    -webkit-transform: translate(-50%, 30%);
    -moz-transform: translate(-50%, 30%);
    -ms-transform: translate(-50%, 30%);
    -o-transform: translate(-50%, 30%);
}
.about_header .about_header_title h2{
    font-family: 'Shamel_Bold';
    font-size: 48px;
}
.about_header .about_header_title a,
.about_header .about_header_title span{
    margin: 10px;
    font-size: 20px;
}
.about_sections {
    min-height: 100vh;
    padding: 50px 0;
}
.about_sections img{
    width: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.about_sections div{
    align-self: center;
    padding: 0 15px;
}
.about_sections h3{
    font-family: 'Shamel_Bold';
    font-size: 40px;
    line-height: 1.5;
    color: #333259;
}
.about_sections p{
    font-size: 20px;
    line-height: 2;
    color: #8C8EAB;
}
/* ******************************* start contact_us page ************************************* */
.contact_us{
    margin-top: 100px;
    padding: 50px 0;
}
.contact_us .contact_label{
    color: #9E9E9E;
    font-size: 18px;
    line-height: 26px;
}
.contact_us .contact_bold{
    font-size: 48px;
    line-height: 70px;
    text-align: right;
    color: #333259;
    font-weight: bold;
    margin-top: 10px;
}



.contact_us .map_side strong{
    font-size: 24px;
    text-align: right;
}
.contact_us .map_side p{
    font-size: 16px;
    line-height: 40px;
    opacity: 0.8;
    
}
.contact_us .map_side .contact_ways > div{
    margin-top: 10px;
}
.contact_us .map_side .map{
    height: 537px;
    border-radius: 16px;
    overflow: hidden;
}
/* ******************************* start houses page ******************************* */
.houses .card{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border: none;
}
.houses .card .card-body > *{
    margin: 10px auto;
}
.houses .card .card-body h4{
    font-weight: bold;
}
.houses .card .card-body .card-location .location-details{
    margin: 0 10px;
    color: #9E9E9E;
}
.houses .card .card-body .card-icon .number{
    color: #A66249;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
.houses .scroll_cards_div{
    height: 80vh;
    overflow-y: auto;
    padding: 0 15px;
}
.houses .scroll_cards_div .card{
    height: 240px;
}

.houses .scroll_cards_div .card .card-title{
    font-weight: bold;
    
}
.houses .scroll_cards_div .card .card_price {
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    color: #A66249;
}
.filter_form .hide_map,
.filter_form .show_map{
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid #333259;
    color: #333259;
    position: relative;
    top: 42px;
    right: 0px;
}
.filter_form .btn svg{
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-left: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.filter_form .hide_map:hover,
.filter_form .show_map:hover{
    background-color: #333259;
    color: #fff;
}
.filter_form .hide_map:hover svg,
.filter_form .show_map:hover svg{
    background: #fff;
}
.houses .map{
    height: 80vh;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    overflow: hidden;
}
.map_visible{
    display: none;
}
.hide_map{
    display: none;
}
/* ******************************* start add_house ********************************* */
.add_house{
    margin-top: 100px;
}
.add_house .contact_form .form-group{
    margin: 30px 50px;
}
.add_house .contact_form select{
    background-position: left 1rem center;
}
/* ******************************* start table_page ********************************* */

.about_header.table_page_header{
    width: 100vw;
    height: 340px;
    background: url(../images/table.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 100px;
}
.about_header.table_page_header .about_header_title{
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.table_page{
    margin-top: 80px;
}
.table_page h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    font-weight: bold;
}
.table_page .table_div{
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    -ms-border-radius: 16px 16px 0 0;
    -o-border-radius: 16px 16px 0 0;
    overflow: hidden;
    overflow-x: auto;
}
.table_page .table_div table thead{
    background-color: #F5F5F5;
}
.table_page .table_div table tr{
    height: 60px;
    line-height: 2.5;
    color: #0D0D0D;
}
.table_page .table_div table thead tr{
    color: #A66249;
}
.table_page .table_div table tr .coin{
    color: #6E6E6E;
}
.table_page .table_div .btn_container .btn{
    border-radius: 16px;
    height: 54px;
    width: 175px;
}
/* ************************* start houses_details_header *************************** */
.houses_details_header{
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}
.houses_details_header .owl-carousel .owl-nav button{
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}
.houses_details_header .owl-carousel .owl-nav button.owl-next{
    right: 15%;
}
.houses_details_header .owl-carousel .owl-nav button.owl-prev{
    left: 25%;
    top: 70%;
}


.houses_details_header .vertical_carousel{
    /* background-color: red; */
    width: calc(100vh - 80px);
    height: 170px;
    z-index: 9;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    top: 230px;
    left: -120px;
    z-index: 99;
    
}
.houses_details_header .vertical_carousel .owl-nav button.owl-next{
    display: none;
}
.houses_details_header .vertical_carousel .owl-nav button.owl-prev{
    left: 28%;
    top: 40%;
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 1.2;
}
.houses_details_header .vertical_carousel .owl-carousel{
    height: 170px;
    /* left: 20px; */
    width: 95%;
}

.houses_details_header .vertical_carousel .owl-item img{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    overflow: hidden;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.houses_details_header .vertical_carousel .owl-item,
.houses_details_header .vertical_carousel .owl-carousel .owl-stage,
.houses_details_header .vertical_carousel .owl-carousel .owl-stage-outer{
    height: 100%;
}
.houses_details_header .vertical_carousel img{
    height: 120px;
    width: 170px;
    margin-top: 25px;
}

.houses_details_section .icons_details .icon svg{
    animation: pulping .8s infinite ease-in-out alternate;
    -webkit-animation: pulping .8s infinite ease-in-out alternate;
    transform-origin: center;
    transform-box: fill-box;
}
.houses_details_section .icons_details .icon svg.i-2{animation-delay: .6s;}
.houses_details_section .icons_details .icon svg.i-3{animation-delay: 1.2s;}
.houses_details_section .icons_details .icon svg.i-4{animation-delay: 1.8s;}
.houses_details_section .icons_details .icon svg.i-5{animation-delay: 2.4s;}
.houses_details_section .icons_details .icon svg.i-7{animation-delay: 3s;}
.houses_details_section .icons_details .icon svg.i-8{animation-delay: 3.6s;}
@keyframes pulping{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    /* 50%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
} */
    100%{
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
}
}

.houses_details_section .container h3{
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    font-weight: bold;
    margin: 30px auto;
}
.houses_details_section .container .address_details{
    color: #9E9E9E;
}
.houses_details_section .container .icons_details small{
    font-weight: 700;
    font-size: 16px;
    color: #A66249;
}
.houses_details_section .container .icons_details p{
    color: #CFCFCF;
    font-weight: 500;
    font-size: 12px;
}
.houses_details_section .container .preview {
    margin: 30px auto;
}
.houses_details_section .container .preview p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #8C8EAB;
}
.houses_details_section .container .map{
    border: 2px solid #E7E7E7;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    max-width: 369px;
    height: 270px;
    overflow: hidden;
    margin: 50px 0;
}
.houses_details_section .contact_details{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 8%);
    border-radius: 16px;
    padding: 30px;
    height: 552px;
    margin: 30px auto;
}
.houses_details_section .contact_details .main_price{
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    color: #A66249;
    margin-bottom: 30px;
}
.houses_details_section .contact_details strong{
    margin: 15px auto;
    display: block;
}
.houses_details_section .contact_details .main_price .coin{
    opacity: .7;
}

.houses_details_section .contact_details .speaker_content{
    color: #A66249;
}
.houses_details_section .contact_details  .contacts a{
    width: 100%;
    text-align: center;
    display: block;
    height: 48px;
    line-height: 3;
    margin-top: 70px;
}
/* ******************************* start media ************************************* */
@media (max-width: 769px) {
    .navbar{
        background: #fafafa;
        min-height: 50px;
    }
    .navbar.main .navbar-brand {
        top: -25px;
    }
    .navbar.def_page{
        min-height: 80px;
    }
    .navbar-collapse{
        margin: 50px auto 10px;
    }
    .navbar-collapse .nav-item{
        margin: 5px auto;
    }
    .navbar-collapse .nav-item:not(.active) a{
        color: #000;
    }
    .navbar.def_page .navbar-brand {
        width: 80px;
        height: 80px;
        top: -10px;
    }
    .navbar .navbar-brand .img-cont img{
        position: unset;
        width: 100%;
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
    }

    .about_sections h3{
        margin-top: 20px;
    }
    .add_house .add_house_row .back_color {
        height: 100%;
        
    }
    .add_house .add_house_row .add_house_text{
        margin: 0;
    }
    .add_house .add_house_row .add_house_img .plus {
        position: absolute;
        top: 10%;
        right: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next,
    .houses_details_header .owl-carousel .owl-nav button{
        width: 30px;
        height: 30px;
        font-size: 25px;
        line-height: 1.5;
    }
    .owl-carousel .owl-nav button.owl-next{
        right: 10%;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
    }
    .houses_details_header .owl-carousel .owl-nav button.owl-next{
        right: 5%;
        transform: translate(50%, -50%);
        -webkit-transform: translate(50%, -50%);
        -moz-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
    }
    .owl-carousel .owl-nav button.owl-prev{
        left: 10%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .houses_details_header .owl-carousel .owl-nav button.owl-prev{
        left: 5%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

}

@media (max-width: 990px) {
    .navbar{
        background: #fafafa;
        min-height: 50px;
    }
    .navbar .container-fluid {
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .navbar-collapse .nav-item:not(.active) a{
        color: #000;
    }
    .navbar-collapse{
        margin: 50px auto 10px;
    }
    .navbar-collapse .nav-item{
        margin: 5px auto;
    }
    header .container .search button {
        width: 97px;
    }
    
}
@media (max-width: 1200px) {
    .mobile_hidden{
        display: none;
    }
}

@media (max-width: 426px) {
    .navbar .navbar-brand{
        top: -5px;
        width: 60px;
        height: unset;
    }
    header .container .house{
        height: 220%;
    }
    header h1 {
        padding-top: 20px;
    }
    .about_header .about_header_title {
        top: 20%;
    }
    .table_page h2{
        font-size: 30px;
    }
}

@media (min-width: 768px) {

    @media (min-height: 1023px){

        .navbar {
            min-height: 100px;
        }

        .about_sections,
        .about_header,
        .services,
        header{
            height: 60vh;
        }
        .add_house,
        .apartment,
        .services{
            min-height: 60vh;
        }
        /* .add_house{
            max-height: 60vh;
            min-height: 60vh;
            margin-top: 0;
        } */
        .add_house .add_house_row{
            margin-top: 0;
        }
        .add_house .add_house_row .add_house_text{
            padding: 20px;
        }
        .about_sections {
            min-height: 80vh;
        }
        .about_sections img{
            margin-bottom: 50px;
            height: 370px;
        }
    }
    

}
@media (min-width: 1270px){
    @media (max-width: 1290px){
        .houses .card .card-body > * {
            margin: 0 auto;
        }
    }
}